<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewBag.Title - Corporate Admin</title>

    <link href="/Content/AdminLayout/css/bootstrap.min.css" rel="stylesheet" />
    <link href="/Content/AdminLayout/css/bootstrap-theme.css" rel="stylesheet" />
    <link href="/Content/AdminLayout/css/elegant-icons-style.css" rel="stylesheet" />
    <link href="/Content/AdminLayout/css/font-awesome.min.css" rel="stylesheet" />
    <link href="/Content/AdminLayout/css/style.css" rel="stylesheet" />
    <link href="/Content/AdminLayout/css/style-responsive.css" rel="stylesheet" />

    <link href="~/Content/DataTables/css/jquery.dataTables.css" rel="stylesheet" />
    <link href="~/Content/DataTables/css/dataTables.bootstrap4.css" rel="stylesheet" />
    <script src="~/Content/ckeditor/ckeditor.js"></script>
</head>
<body>
    <section id="container">
        <header class="header dark-bg">
            <div class="toggle-nav">
                <div class="icon-reorder tooltips" data-original-title="Toggle Navigation" data-placement="bottom">
                    <i class="icon_menu"></i>
                </div>
            </div>
            <a href="/Admin/Index/" class="logo">Corporate <span class="lite">Admin</span></a>

            <div class="top-nav notification-row">
                <ul class="nav pull-right top-menu">
                    <li class="dropdown">
                        <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                            <span class="profile-ava">
                                <img alt="" src="/Content/AdminLayout/img/avatar1_small.jpg" />
                            </span>
                            <span class="username">@(Session["email"] ?? "Admin")</span>
                            <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu extended logout">
                            <div class="log-arrow-up"></div>
                            <li class="eborder-top">
                                <a href="/Admin/Logout/"><i class="icon_key_alt"></i> Log Out</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </header>

        <aside>
            <div id="sidebar" class="nav-collapse">
                <ul class="sidebar-menu">
                    <li>
                        <a href="/Admin/Index/">
                            <i class="icon_house_alt"></i>
                            <span>Admin Summary</span>
                        </a>
                    </li>
                    <li>
                        <a href="/Identity/Index/">
                            <i class="icon_genius"></i>
                            <span>Site Identity</span>
                        </a>
                    </li>
                    <li>
                        <a href="/AboutUs/Index/">
                            <i class="icon_genius"></i>
                            <span>About Us</span>
                        </a>
                    </li>
                    <li>
                        <a href="/Contact/Index/">
                            <i class="icon_genius"></i>
                            <span>Contact</span>
                        </a>
                    </li>
                    <li>
                        <a href="/Service/Index/">
                            <i class="icon_genius"></i>
                            <span>Services</span>
                        </a>
                    </li>
                    <li>
                        <a href="/Slider/Index/">
                            <i class="icon_genius"></i>
                            <span>Sliders</span>
                        </a>
                    </li>
                    <li class="sub-menu">
                        <a href="javascript:;" class="">
                            <i class="icon_document_alt"></i>
                            <span>Blog Posts</span>
                            <span class="menu-arrow arrow_carrot-right"></span>
                        </a>
                        <ul class="sub">
                            <li><a href="/Category/Index/">Categories</a></li>
                            <li><a href="/Blog/Index/">Blog Posts</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </aside>

        <section id="main-content">
            <section class="wrapper">
                @RenderBody()
            </section>
        </section>
    </section>

    <script src="/Content/AdminLayout/js/jquery.js"></script>
    <script src="/Content/AdminLayout/js/bootstrap.min.js"></script>
    <script src="/Content/AdminLayout/js/jquery.scrollTo.min.js"></script>
    <script src="/Content/AdminLayout/js/jquery.nicescroll.js"></script>
    <script src="/Content/AdminLayout/js/scripts.js"></script>
    <script src="~/Scripts/DataTables/jquery.dataTables.js"></script>
    <script src="~/Scripts/DataTables/dataTables.bootstrap4.js"></script>
</body>
</html>
